# Imports

In [2]:
# standard libraries
import numpy as np
import pandas as pd

# geographic plotting
import geopandas as gpd
import json

# visualization
import altair as alt

# Data

In [4]:
shape_file_loc = "atlanta_shape//Neighborhoods.shp"

In [5]:
# # geo_json_file_loc= 'toronto_crs84.geojson'
# shape_file_loc = 'Neighborhoods.shp'

def open_geojson():
    with open(geo_json_file_loc) as json_data:
        d = json.load(json_data)
    return d

def get_gpd_df(use_shape_file=True):
    if use_shape_file:
        gdf = gpd.read_file(shape_file_loc)
    else:
        map_json = open_geojson()
        gdf = gpd.GeoDataFrame.from_features((map_json))
    return gdf

In [6]:
gdf = get_gpd_df(use_shape_file=True)

In [7]:
gdf.head()

,OBJECTID,LOCALID,NAME,GEOTYPE,FULLFIPS,LEGALAREA,EFFECTDATE,ENDDATE,SRCREF,ACRES,SQMILES,OLDNAME,NPU,CREATED_US,CREATED_DA,LAST_EDITE,LAST_EDI_1,GLOBALID,geometry
0,148,None,Atlanta University Center,Neighborhood,None,None,None,None,None,331.57,0.52,Atlanta University,T,None,None,GIS,2018-05-15T13:24:10.000Z,{D6CAF694-B83F-4CB9-B351-CA3E3145D0C7},"POLYGON ((2224815.250096008 1365864.749869771,..."
1,149,None,Hunter Hills,Neighborhood,None,None,None,None,None,322.58,0.50,Hunter Hills,K,None,None,GIS,2018-05-15T13:24:10.000Z,{8A4F3C84-CCC3-478C-82BA-7E4174935428},"POLYGON ((2215653.250047341 1369128.624903686,..."
2,150,None,Bankhead,Neighborhood,None,None,None,None,None,416.09,0.65,Bankhead,K,None,None,GIS,2018-05-15T13:24:10.000Z,{70303C29-B16F-4E33-9FEC-A33B2244D3AB},"POLYGON ((2220410.263827261 1373502.844173603,..."
3,151,None,English Avenue,Neighborhood,None,None,None,None,None,519.00,0.81,English Avenue,L,None,None,GIS,2018-05-15T13:24:10.000Z,{9B6F9DF9-B38E-46FB-993B-4D1DA42AC049},"POLYGON ((2221296.100638259 1375554.111396521,..."
4,152,None,Adair Park,Neighborhood,None,None,None,None,None,289.28,0.45,Adair Park,V,None,None,GIS,2018-05-15T13:24:10.000Z,{D8FD5CB2-4D90-4EEB-A33A-B52E6D66E345},"POLYGON ((2223163.619869094 1360278.220688522,..."

# Atlanta Crime Data

In [16]:
df = pd.read_csv('COBRA-2009-2018.csv')
df['Beat'] = df['Beat'].fillna(0).astype('uint32')

C:\Users\Jake\Anaconda3\envs\mainenv\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317904 entries, 0 to 317903
Data columns (total 19 columns):
Report Number              317904 non-null int64
Report Date                317904 non-null object
Occur Date                 317904 non-null object
Occur Time                 317904 non-null int64
Possible Date              317886 non-null object
Possible Time              317885 non-null float64
Beat                       317904 non-null uint32
Apartment Office Prefix    9570 non-null object
Apartment Number           64077 non-null object
Location                   317902 non-null object
Shift Occurence            317904 non-null object
Location Type              310373 non-null object
UCR Literal                317904 non-null object
UCR #                      317904 non-null int64
IBR Code                   317748 non-null object
Neighborhood               306464 non-null object
NPU                        317780 non-null object
Latitude                   317904 non-null float64
Longitude                  317904 non-null float64
dtypes: float64(3), int64(3), object(12), uint32(1)
memory usage: 44.9+ MB

In [18]:
df.head()

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,408,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
1,90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,506,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
2,90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,413,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
3,90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,204,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
4,90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,408,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

In [11]:
df['Neighborhood'].value_counts()

Downtown                  23377
Midtown                   16561
Old Fourth Ward            9205
West End                   7995
Lenox                      5749
North Buckhead             5168
Greenbriar                 5152
Sylvan Hills               5116
Vine City                  5062
Grove Park                 4932
Grant Park                 4898
Edgewood                   4787
Mechanicsville             4719
Pittsburgh                 4634
Lindbergh/Morosgo          4404
Berkeley Park              4289
Home Park                  4047
English Avenue             3820
East Atlanta               3742
Inman Park                 3622
Virginia Highland          3451
Campbellton Road           3396
Oakland City               3384
Glenrose Heights           3247
Castleberry Hill           3240
Southwest                  3229
Lakewood Heights           3222
Collier Heights            3162
Kirkwood                   3086
Perkerson                  3035
                          ...
Whitewater Creek             57
Arden/Habersham              56
Georgia Tech                 56
Harvel Homes Community       51
Hanover West                 49
Mt. Gilead Woods             49
Niskey Lake                  49
Pleasant Hill                49
East Ardley Road             47
Collier Hills North          45
Green Acres Valley           45
Westover Plantation          43
Huntington                   42
Niskey Cove                  41
Ben Hill Forest              39
Woodfield                    39
Fernleaf                     37
Tampa Park                   36
Mellwood                     35
Lake Estates                 33
Bankhead Courts              30
Fort McPherson               28
Horseshoe Community          22
Regency Trace                19
Chattahoochee                13
Mt. Paran Parkway            12
Old Fairburn Village         11
Edmund Park                   6
State Facility                5
Englewood Manor               2
Name: Neighborhood, Length: 243, dtype: int64

In [34]:
df['UCR Literal'].value_counts()

LARCENY-FROM VEHICLE    96067
LARCENY-NON VEHICLE     75475
BURGLARY-RESIDENCE      47507
AUTO THEFT              44077
AGG ASSAULT             23009
ROBBERY-PEDESTRIAN      16435
BURGLARY-NONRES         10180
ROBBERY-COMMERCIAL       2156
ROBBERY-RESIDENCE        2104
HOMICIDE                  878
MANSLAUGHTER               16
Name: UCR Literal, dtype: int64

In [35]:
df['Shift Occurence'].value_counts()

Evening Watch    135126
Day Watch        108198
Morning Watch     66967
Unknown            7613
Name: Shift Occurence, dtype: int64

In [36]:
df['NPU'].value_counts()

M    38807
E    30961
B    26177
V    16644
T    15999
R    14629
Z    14286
I    13486
W    13302
X    12658
F    11190
D    11008
J    10882
N    10826
P    10654
O    10320
Y     9087
L     8913
H     8586
S     7939
K     6880
G     6272
C     5393
A     2539
Q      342
Name: NPU, dtype: int64

In [19]:
df['Beat'].value_counts()

204    7737
501    7335
210    6390
303    6288
208    6262
604    6098
508    5907
401    5651
505    5638
602    5599
503    5454
102    5420
509    5395
203    5265
507    5163
207    5148
609    5106
603    5008
408    4980
306    4949
206    4944
411    4835
407    4822
304    4820
104    4808
502    4663
409    4637
410    4615
305    4609
607    4576
       ...
608    3440
504    3402
106    3361
108    3359
308    3328
312    3302
414    3212
406    3142
310    3141
101    3101
110    3034
209    3011
109    2983
611    2945
601    2928
606    2899
610    2896
212    2691
213    2477
612    2242
404    2121
112    2069
405    2058
313    1959
113    1913
202    1842
201    1644
512    1614
114    1571
0       210
Name: Beat, Length: 79, dtype: int64

# Transform Dates

In [20]:
df['Date'] =  pd.to_datetime(df['Occur Date'])

In [21]:
df['Date'].head()

0   2009-01-01
1   2009-01-01
2   2009-01-01
3   2009-01-01
4   2009-01-01
Name: Date, dtype: datetime64[ns]

In [26]:
# create function to extract datetime features
def date_extraction(feature):
    month_list = []
    day_list = []  
    day_of_week_list = []
    day_of_year_list = []
    year_list = []
    
  
    for i in feature:
        month_list.append(i.month)
        day_list.append(i.day)
        day_of_week_list.append(i.dayofweek)
        day_of_year_list.append(i.dayofyear)
        year_list.append(i.year)
    
    return month_list, day_list, day_of_week_list, day_of_year_list, year_list

In [27]:
df['Month'] = date_extraction(df['Date'])[0]
df['Day'] = date_extraction(df['Date'])[1]
df['Day_of_week'] = date_extraction(df['Date'])[2]
df['Day_of_year'] = date_extraction(df['Date'])[3]
df['Year'] = date_extraction(df['Date'])[4]

In [28]:
df.head()

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,...,Neighborhood,NPU,Latitude,Longitude,Date,Month,Day,Day_of_week,Day_of_year,Year
0,90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,408,NaN,NaN,2841 GREENBRIAR PKWY,...,Greenbriar,R,33.68845,-84.49328,2009-01-01,1,1,3,1,2009
1,90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,506,NaN,NaN,12 BROAD ST SW,...,Downtown,M,33.75320,-84.39201,2009-01-01,1,1,3,1,2009
2,90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,413,NaN,NaN,3500 MARTIN L KING JR DR SW,...,Adamsville,H,33.75735,-84.50282,2009-01-01,1,1,3,1,2009
3,90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,204,NaN,NaN,3393 PEACHTREE RD NE,...,Lenox,B,33.84676,-84.36212,2009-01-01,1,1,3,1,2009
4,90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,408,NaN,NaN,2841 GREENBRIAR PKWY SW,...,Greenbriar,R,33.68677,-84.49773,2009-01-01,1,1,3,1,2009

# 2018 Data

In [31]:
df_2018 = df[df['Year'] == 2018]

In [33]:
df_2018.shape

(25447, 25)

In [45]:
df_2018.columns

Index(['Report Number', 'Report Date', 'Occur Date', 'Occur Time',
       'Possible Date', 'Possible Time', 'Beat', 'Apartment Office Prefix',
       'Apartment Number', 'Location', 'Shift Occurence', 'Location Type',
       'UCR Literal', 'UCR #', 'IBR Code', 'Neighborhood', 'NPU', 'Latitude',
       'Longitude', 'Date', 'Month', 'Day', 'Day_of_week', 'Day_of_year',
       'Year'],
      dtype='object')

In [40]:
df_2018['Neighborhood'].value_counts()[:40]

Downtown                  2120
Midtown                   1512
Lindbergh/Morosgo          602
Old Fourth Ward            562
North Buckhead             533
West End                   531
Vine City                  503
Berkeley Park              501
Lenox                      455
Mechanicsville             412
Home Park                  410
Greenbriar                 373
Edgewood                   368
Castleberry Hill           357
Sylvan Hills               357
Grant Park                 355
Grove Park                 332
Inman Park                 331
Morningside/Lenox Park     316
Lindridge/Martin Manor     304
Perkerson                  282
Atlantic Station           273
Pittsburgh                 272
Underwood Hills            262
Princeton Lakes            261
Lakewood Heights           259
East Atlanta               254
Buckhead Village           253
Sweet Auburn               243
English Avenue             242
Virginia Highland          241
Blandtown                  240
Oakland City               236
Southwest                  233
Marietta Street Artery     218
Adamsville                 216
Piedmont Heights           209
Buckhead Forest            208
Loring Heights             206
Adair Park                 197
Name: Neighborhood, dtype: int64

In [48]:
df_2018.groupby('Neighborhood')['UCR Literal'].value_counts()

Neighborhood         UCR Literal
Adair Park           LARCENY-FROM VEHICLE    75
                     AUTO THEFT              37
                     LARCENY-NON VEHICLE     34
                     BURGLARY-RESIDENCE      16
                     AGG ASSAULT             14
                     ROBBERY-PEDESTRIAN      12
                     BURGLARY-NONRES          4
                     ROBBERY-COMMERCIAL       3
                     ROBBERY-RESIDENCE        2
Adams Park           LARCENY-NON VEHICLE     26
                     LARCENY-FROM VEHICLE    22
                     AUTO THEFT              15
                     BURGLARY-NONRES         10
                     BURGLARY-RESIDENCE       9
                     AGG ASSAULT              6
                     ROBBERY-COMMERCIAL       3
                     ROBBERY-RESIDENCE        3
                     ROBBERY-PEDESTRIAN       2
Adamsville           LARCENY-FROM VEHICLE    59
                     LARCENY-NON VEHICLE     51
                     AUTO THEFT              39
                     AGG ASSAULT             21
                     ROBBERY-PEDESTRIAN      15
                     BURGLARY-NONRES         12
                     BURGLARY-RESIDENCE      11
                     ROBBERY-COMMERCIAL       4
                     HOMICIDE                 2
                     ROBBERY-RESIDENCE        2
Almond Park          AUTO THEFT               9
                     BURGLARY-RESIDENCE       9
                                             ..
Wildwood (NPU-H)     LARCENY-FROM VEHICLE     2
                     LARCENY-NON VEHICLE      1
Wildwood Forest      AUTO THEFT               3
                     AGG ASSAULT              2
                     LARCENY-FROM VEHICLE     2
                     HOMICIDE                 1
                     LARCENY-NON VEHICLE      1
Wilson Mill Meadows  BURGLARY-RESIDENCE       5
                     AUTO THEFT               4
                     LARCENY-NON VEHICLE      4
                     AGG ASSAULT              3
                     LARCENY-FROM VEHICLE     2
                     ROBBERY-PEDESTRIAN       1
Wisteria Gardens     BURGLARY-RESIDENCE       6
                     LARCENY-FROM VEHICLE     5
                     AUTO THEFT               3
                     AGG ASSAULT              2
                     LARCENY-NON VEHICLE      1
                     ROBBERY-PEDESTRIAN       1
Woodfield            LARCENY-FROM VEHICLE     2
                     BURGLARY-RESIDENCE       1
Woodland Hills       LARCENY-NON VEHICLE     11
                     LARCENY-FROM VEHICLE     5
                     ROBBERY-COMMERCIAL       5
                     BURGLARY-RESIDENCE       2
                     AGG ASSAULT              1
                     BURGLARY-NONRES          1
Wyngate              LARCENY-FROM VEHICLE     3
                     BURGLARY-RESIDENCE       2
                     LARCENY-NON VEHICLE      1
Name: UCR Literal, Length: 1426, dtype: int64

In [50]:
df_2018_nbhood = df_2018.pivot_table(index=['Neighborhood'], columns=['UCR Literal'], aggfunc='size', fill_value=0)

In [53]:
df_2018_nbhood[:50]

UCR Literal,AGG ASSAULT,AUTO THEFT,BURGLARY-NONRES,BURGLARY-RESIDENCE,HOMICIDE,LARCENY-FROM VEHICLE,LARCENY-NON VEHICLE,MANSLAUGHTER,ROBBERY-COMMERCIAL,ROBBERY-PEDESTRIAN,ROBBERY-RESIDENCE
Neighborhood,,,,,,,,,,,
Adair Park,14,37,4,16,0,75,34,0,3,12,2
Adams Park,6,15,10,9,0,22,26,0,3,2,3
Adamsville,21,39,12,11,2,59,51,0,4,15,2
Almond Park,6,9,2,9,1,7,5,0,1,6,0
Amal Heights,2,6,0,2,0,7,1,0,0,0,0
Ansley Park,1,6,1,2,0,31,10,0,0,2,0
Arden/Habersham,0,0,0,0,0,3,0,0,0,0,0
Ardmore,0,7,1,0,0,58,5,0,0,1,0
Argonne Forest,1,1,0,2,0,2,1,0,0,0,0
Arlington Estates,6,6,0,2,0,8,5,0,0,0,0
Ashley Courts,4,3,0,18,0,10,3,0,0,0,1
Ashview Heights,17,18,0,15,0,30,26,0,0,7,1
Atkins Park,0,0,0,0,0,5,1,0,0,0,0
Atlanta Industrial Park,0,0,2,1,0,5,0,0,0,0,0
Atlanta University Center,10,17,5,2,1,24,15,0,0,8,1
Atlantic Station,6,28,4,13,1,105,113,0,0,3,0
Audobon Forest,3,0,0,1,0,7,1,0,0,0,0
Audobon Forest West,0,1,0,5,0,3,0,0,0,0,0
Baker Hills,4,3,0,10,0,4,5,0,0,1,0
Bakers Ferry,1,2,1,3,0,0,1,0,0,0,0
Bankhead,34,10,2,11,2,18,35,0,5,1,0
Bankhead/Bolton,1,3,0,0,0,6,7,0,0,0,1
Beecher Hills,3,2,0,4,0,3,2,0,0,0,0
Ben Hill,6,9,3,13,0,12,6,0,0,0,0
Ben Hill Acres,2,2,0,0,0,5,11,0,0,0,0
Ben Hill Forest,0,2,0,0,0,0,1,0,0,0,0
Ben Hill Pines,2,2,2,1,0,1,4,0,0,2,0
Ben Hill Terrace,1,2,0,7,1,9,7,0,0,0,1
Benteen Park,1,3,3,2,0,19,6,0,1,3,0
Berkeley Park,2,25,10,6,0,181,269,0,2,6,0
Betmar LaVilla,1,7,0,3,0,18,4,0,0,1,0
Blair Villa/Poole Creek,7,9,11,8,0,26,5,0,0,3,0
Blandtown,3,24,1,9,0,180,18,0,1,4,0
Bolton,3,11,7,8,0,64,18,0,1,0,0
Bolton Hills,0,2,0,0,0,1,0,0,0,0,0
Boulder Park,1,0,0,0,0,0,1,0,0,1,0
Boulevard Heights,2,5,1,4,0,20,11,0,0,0,0
Brandon,0,0,0,1,0,13,2,0,0,0,0
Brentwood,0,1,0,0,0,1,1,0,0,0,0
Briar Glen,0,0,0,2,0,1,0,0,0,0,0
Brookhaven,0,2,0,1,1,12,4,0,0,0,0
Brookview Heights,2,5,2,0,0,25,9,0,1,1,0
Brookwood,1,4,0,0,0,13,4,0,0,0,0
Brookwood Hills,0,4,13,2,0,31,5,0,0,0,0
Browns Mill Park,21,18,2,9,3,24,23,0,1,5,1
Buckhead Forest,4,22,8,1,0,130,41,0,0,2,0
Buckhead Heights,1,4,3,9,0,21,7,0,0,1,0
Buckhead Village,2,26,5,3,1,164,48,0,0,4,0
Bush Mountain,3,2,1,7,0,1,4,0,0,0,0
Butner/Tell,1,1,0,1,0,0,0,0,0,0,0